@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-miami {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

*
{
    margin: 0;
}

h1,h2,h3,h4{
    color: white;
}
p
{
    color: rgba(255, 255, 255, 0.5) ;
}

.bg-black
{
    background-color: black;
}
.header
{
    background-image: linear-gradient(to bottom, black, #696868, black);
}

/* nav  */
.navigation
{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigation h3
{
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;
}
.nav-ul
{
    display: flex;
    gap: 30px;
    border: 1px solid #ffffff17;
    padding: 10px;
    border-radius: 37px;
    padding-left: 4px;
}
.nav-ul li
{
    list-style: none;
}
.nav-ul li a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
}
.home-dec
{
    font-weight: 600;
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}
.hidden
{
 display: none;
}
/* banner */

.banner
{
    display: flex;
    justify-content:space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 35px;
    align-items: center;
}
.banner h1
{
    font-size: 75px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.hero1
{
    width: 50%;
}
.shape
{
    display: inline-block;
    font-size: 150px;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    line-height: 34px;
                                                
}

.banner p
{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.banner-btn1
{
    background-color: #E6533C;
    padding: 15px 45px;
    border-radius: 42px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.banner-btn2
{
    background-color: #e6533c00;
    padding: 15px 45px;
    border-radius: 42px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.box1
{
    border: 1 px solid rgba(255, 255, 255, 0.014);
    width: 205px;
    height: 95px;
    background-color: #30303086;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    position:relative;
    bottom: 170px;
    right: 90px;
    margin-bottom: -90px;
}
.ball
{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}
.box1 h3
{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 900;
    color: white;
}
.box2
{
    border: 1 px solid rgba(255, 255, 255, 0.014);
    width: 205px;
    height: 95px;
    background-color: #30303086;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 450px;
    right: -200px;
    margin-bottom: -100px;
}
.box2 h3
{
    font-size: 37px;
    font-weight: 900;
    color: white;
}

/* Main */
.main-width{
    width: 85%;
    margin: 0 auto;
}
/* Change Section */
.change
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.cng-div h3
{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 20px;
}
.cng-div p
{
    font-size: 14px;
}
.main-card
{
    display: flex;
    justify-content: space-between;
    
}
.cng-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 231px;
    gap: 10px;
}
.cng-card img
{
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.199);
}
/* run section */
.run
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
    background-color: #222222;
    margin-bottom: 100px;
}
.run-div2 
{
    width: 366px;
    height: 312px;
    background-image: url('images/run.jpg');
    background-position: 65% 20%;
    border-radius: 18px;
}

.run-div1 h3 , .run-div1 p
{
   margin-bottom: 20px;
}
.run-div1 h3
{
    font-size: 45px;
    font-weight: 900;
}
.run-div1 p
{
    font-size: 14px;
    width: 50%;
}
.run-div1 button
{
    padding: 15px 70px;
    color: white;
    background-color: #E6533C;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    
}

/* BMI section */
tr, td, th{
    color: white;
}
td
{
    font-size: 14px;
    font-weight: 300;
}
thead th
{
  text-align: start;
}
table
{
    border-collapse: collapse;
}
td , th
{
    border: 1px solid rgba(255, 255, 255, 0.151);
    padding: 10px;
    
}


.bmi-div1 h3
{
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 900;
   
}
.bmi-div2 h3
{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 900;  
}
.bmi-div2 p
{
    font-size: 14px;
    width: 80%;
    margin-bottom: 20px;
}

.bmi
{
    background-color: #222222;
}
.bmi-width
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.input-fileds
{
    display: grid;
    grid-template-columns: repeat(2,280px);
    gap: 8px;
    

}
.input
{
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: none;
    color: white;
    
}
.input::placeholder
{
    color: white;
}
select
{
    color: white;
}
option
{
    color: black;
}

#box-5
{
    grid-column: span 2;
}
.cal-btn
{
    padding: 15px 70px;
    color: white;
    background-color: #E6533C;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    margin-top: 25px;
}





@media screen and ( max-width:576px ) 
{
    /* nav */
    .nav-ul
    {
        display: none;
    }
    .hidden
    {
        display:inline;
    }
    /* banner */
    .banner
    {
        flex-direction: column;     
    }
    .hero1
    {
        width: 100%;
    }
    .hero2
    {
        margin-left: 30px;
        
    }
   
    .hero1 h1 
    {
        font-size: 38px;
        font-weight: 800;
    }
    .shape
    {
        font-size: 90px;
    }
    .banner-btn
    {
        display: flex;
    }
    .banner-btn1 , .banner-btn2
    {
        padding: 12px 40px;
        font-size: 14px;
        font-weight: 500;

    }
    .box2
    {
        width: 150px;
        height: 70px;
        bottom: 500px;
        right: -190px;
        gap: 3px;
        padding-top: 20px;
        margin-bottom: -80px;
    }
    .box2 h3 
    {
        font-size: 28px;
        font-weight: 800;
        
    }
    .box2 p 
    {
        font-size: 12px;
    }
    .box1
    {
        width: 150px;
        height: 70px;
        bottom: 300px;
        right: 10px;
        gap: 3px;
        padding-top: 10px;
    }
    .box2 h3 
    {
        font-size: 30px;
        font-weight: 800;
        
    }

    /* main */
    /* challenge */
    .main-card
    {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .change
    {
        align-items: center;
        
    }
    /* run */
    .run{
        flex-direction: column;
        gap: 20px;
    }
    .run-div1 p
    {
        width: 100%;
    }
    .run-div1 button 
    {
        width: 100%;

    }
    .run-div2 
    {
        width: 100%;
    }
    /* BMI */
    .bmi-width
    {
        flex-direction: column;
    }
    .input-fileds
    {
      
        
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    

    }
    .bmi-div2
    {
        margin-top: 50px;
    }
}
